#footer {
  /* background-color: rgb(1, 1, 60); */
  background-color: #05093b;
  color: white;
}
#footer a {
  text-decoration: none;
  color: white;
}

header img {
  width: 80px;
}

header {
  margin: 0 !important;
}